
  <div class="row">
    <div class="col-md-3">
    
     <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">ghghhgghh<br></h3>
  </div>
  <div class="panel-body">
   hhhhhh
  </div>
</div>
    
    
    
    
    </div>
    
    
    
    <div class="col-md-6">
  
    <% if user_signed_in? %>
  
    <%= render 'form' %>
    <% else %>
    <% end %><br>
    
    <% @discussions.each do |discussion| %>
    <div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-12"><h4><%= discussion.user.email %></h4><h6><%= time_ago_in_words(discussion.created_at) %></h6></div> 
    <div class='col-md-12'><h4><%= link_to discussion.title, discussion %></h4> </div>
  </div>
</div>

   <% end %>
    </div>
    
    
    
    <div class="col-md-3">
    
    
    
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Navigation<br></h3>
  </div>
   <ul class="list-group">
    <li class="list-group-item">Newsfeed</li>
    <li class="list-group-item">Metrics</li>
    <li class="list-group-item">Resources</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>

</div>
    
    
    
    
    </div>     
  </div>
       



